// background of the left side;
$bg: #3e6b52;

// left side text;
$white: #fff;

//gray
$gray: rgb(158, 157, 157);

//SIZE
$xs :10px;
$small: 25px;
$medium: 50px;
$large: 65px;
$xlarge: 100px;
$xxlarge: 150px;